@page "/fixtureteamsheet/{Id:int}"
@using SMS.Shared.DTOs.Availability;
@using StanwayRonnies.Services;
@inject IAvailabilityData AvailabilityData


@if (fixtureDetail is not null)
{
    <h3>Availability for @fixtureDetail.Opponents</h3>
    <h5>@fixtureDetail.Venue.ToString() - @fixtureDetail.DateOfFixture (Start Time: @fixtureDetail.StartTime)</h5>
    
    <table class="table table-responsive-sm table-hover">
        <thead>
            <tr>
                <td>Player</td>
            </tr>
        </thead>
        <tbody>
           @foreach (var p in fixtureDetail.AvailablePlayers)
            {           
                <tr>
                    <td>@count) @p.Fullname</td>
                </tr>
                count++;
            }
        </tbody>
    </table>
}
else
{
    <p>Loading please wait...</p>
}

@code {
    [Parameter]
    public int Id { get; set; }
    private int count = 1;

    private PlayersAvailableForFixtureDto fixtureDetail = new();

    protected async override Task OnInitializedAsync()
    {
        fixtureDetail = await AvailabilityData.FixtureAvailabilityDetail(Id);
    }
    }
